<div class="homepage-container">
    <header class="header">
    <nav>
        <a routerLink="/albums" class="btn">Bestsellers</a>
        <a routerLink="/search" class="btn">Search</a>
        <ng-container *ngIf="currentUser; else showLogin">
            <a href="/basket" class="btn">User</a>
            <span class="btn">{{ currentUser.userName }}</span>
            <button (click)="logout()" routerLink="/login">Logout</button>
          </ng-container>
          <ng-template #showLogin>
            <a routerLink="/login" class="btn">Login</a>
          </ng-template>
    </nav>
    </header>
  
    <section id="features" class="features">
        <div class="albums">
            <div *ngIf="randomAlbums.length === 0">No albums available.</div>
            <div *ngFor="let album of randomAlbums" class="album" style="background-color: #FF0000;">
                <img [src]="album.imageUrl" [alt]="album.title">
            </div>
        </div>
    </section>
  
    <footer class="footer">
      <p>&hearts; 2025 Record Shop.</p>
    </footer>
  </div>