<div class="albums-container">
  <header class="header">
    <nav>
        <a routerLink="/search" class="btn">Search</a>
        <ng-container *ngIf="currentUser; else showLogin">
            <a href="/basket" class="btn">Your Basket</a>
            <span class="btn">{{ currentUser.userName }}</span>
            <button (click)="logout()" routerLink="/login">Logout</button>
          </ng-container>
          <ng-template #showLogin>
            <a routerLink="/login" class="btn">Login</a>
          </ng-template>
    </nav>
    </header>
    <div class="main-content">
      <div class="filters">
          <div class="filters-genre">
            <ul>
              <h3>Filter by Genre</h3>
                <li *ngFor="let genre of genres">
                <input type="checkbox"
                      [value]="genre"
                      (change)="onGenreChange($event)" />
                <label>
                  {{ genre }}
                </label>
            </ul>
          </div>
          <div class="filters-year">
            <ul>
              <h3>Filter by Year</h3>
                  <li *ngFor="let year of years">
                    <input type="checkbox"
                          [value]="year" 
                          (change)="onYearChange($event)"/>
                <label>
                    {{ year }}
                </label>
            </ul>
          </div>
        </div>
      <div class="album-list">
          <div class="album-card" *ngFor="let album of filteredAlbums">
          <a [routerLink]="['/albums', album.id]">
            <img [src]="album.imageUrl" [alt]="album.title" />
            <div class="album-details">
                <h3>{{ album.title }}</h3>
                <p>{{ album.artist }}</p>
                <p>Genre: {{ album.genre }}</p>
                <p>Released: {{ album.yearReleased }}</p>
            </div>
          </a>
          </div>
      </div>
  </div>
</div>