<div class="search-container">
  <header class="header">
    <nav>
        <a routerLink="/" class="btn">Home</a>
        <a routerLink="/albums" class="btn">Discover</a>
        <ng-container *ngIf="currentUser; else showLogin">
          <span class="btn">{{ currentUser.userName }}</span>
          <button (click)="logout()" routerLink="/login">Logout</button>
        </ng-container>
        <ng-template #showLogin>
          <a routerLink="/login" class="btn">Login</a>
        </ng-template>
    </nav>
    </header>

    <h2>Search Albums</h2>
    <input type="text" [(ngModel)]="searchQuery" placeholder="Enter album title or artist" />
    <button (click)="searchAlbums()">Search</button>
  
    <div *ngIf="searchResults && searchResults.length > 0">
      <ul>
        <li *ngFor="let album of searchResults">
          <h3> <a [routerLink]="['/albums', album.id]"> {{ album.title }} </a> by {{ album.artist }}</h3>
          <img [src]="album.imageUrl" [alt]="album.title" width="100" />
          <p>Genre: {{ album.genre }}</p>
          <p>Released: {{ album.yearReleased }}</p>
        </li>
      </ul>
    </div>
    <div *ngIf="searchResults && searchResults.length === 0">
      <p>No search results.</p>
    </div>
    
    
  </div>